<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
	<footer th:fragment="footer" class="footer-wrap">
		<h1>하단영역</h1>
		<div class="footer space-between">
			<section id="footer-menu">
				<div class="term">
					<div class="row-align space-between">
						<a class="pipe" href="#">User Agreement</a>
						<a class="pipe" href="#">Privacy Policy</a>
						<a class="pipe" href="#">Rejection of Unauthorized Email Collection</a>
						<a class="pipe" href="#">Contact Us</a>
						<a href="#">Site Map</a>
					</div>
				</div>
				<div class="rights">
					<span>© LG Chem. ALL RIGHTS RESERVED.</span>
				</div>
			</section>
			<section>
				<button class="related">
				Related site
				</button>
			</section>
		</div>
	</footer>
</body>
</html>